body {
    background-color: #3C3F41;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.foto img {
    width: 200px;
    border-radius: 50%;

}

.img {
    border-radius: 50%;
    height: 100px;
    display: inline-block;
}

.foto img:hover {
    box-shadow: 10px 10px gray;

}

html {
    scroll-behavior: smooth;
}

/* Container */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.links,
.rechts {
    box-sizing: border-box;
    padding: 60px 40px;
}


.links {
    flex: 30%;
    background-color: #f5f5f5;
}


.rechts {
    flex: 65%;
    background-color: white;
}

.footer {
    flex: 100%;
    height: 200px;
    background: #656565;
    display: flex;
}


/* Titel */

.titel {
    margin-top: 40px;
    padding: 10px 20px;
    color: white;
    background-color: #3C3F41;
    text-transform: uppercase;
}

.links .titel {
    text-align: center;
}


/* Titel */

.informatie {
    list-style: none;
    margin: 0;
    padding: 0;
}

.informatie img {
    width: 20px;
    margin-right: 20px;
}

table,
thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/* Kaders */

.contacteer .informatie li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacteer .contacteer-link {
    display: flex;
    align-items: center;
}

.nederlands {
    width: 90%;
    background-color: deepskyblue;
}

.english {
    width: 70%;
    background-color: deepskyblue;
}

a {
    color: blue;
    text-decoration: none;
}

.opleiding .informatie li {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.opleiding .opleiding-richting {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


.opleiding .opleiding-school {
    font-size: 16px;
}


.opleiding .opleiding-jaar {
    font-size: 12px;
}

.vaardigheden_tabel tr:nth-child(odd) {
    background: magenta;
}


.opdracht {
    padding: 120px 60px;
    background-color: white;
}

.skill_bar {
    width: 100%;
    background-color: gray;
}

.skills {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
}

.html {
    width: 60%;
    background-color: orange;
}

.css {
    width: 50%;
    background-color: #2196F3;
}

.c\# {
    width: 40%;
    background-color: greenyellow;
}

.sql {
    width: 50%;
    background-color: #2196F3;
}


.footer {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


@media (max-width: 1024px) {
    .container,
    .footer {

        width: 500px;
    }

    .links {
        order: 2;
    }

    .rechts {
        order: 1;
    }

    .links,
    .rechts {
        width: 100%;
    }
    .vaardigheden_list{
        visibility: visible;
    }
    .vaardigheden_tabel{

    }

    .links .titel {
        text-align: left;
    }
}